.manage-overlay {
  position: fixed;
  inset: 0;
  background: rgba(30, 20, 30, 0.35);
  backdrop-filter: blur(4px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}
.manage-modal {
  width: 430px;
  background: #fff;
  border-radius: 22px;
  padding: 24px;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.15);
  border: 1px solid rgba(236, 72, 153, 0.1);
  position: relative;  
}
.manage-header{
    display: flex;
    flex-direction: row;
    gap: 270px;
}
.manage-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 20px;
    gap: 20px;
}
